<div class="list-filters dashboard__list-filters">
    <div class="panel">
        <div class="panel-heading">
            <div class="row">
                <div class="rep__col-9">
                    <ul class="list-inline poi-filters-options dashboard__poi-filters-options">
                        <li>
                            <div class="filter__label">
                                <label>Channel</label>
                            </div>
                            <div class="filter__options">
                                <select class="form-control">
                                    <option value="">All Channels</option>
                                    <option value="">Option 01</option>
                                    <option value="">Option 02</option>
                                    <option value="">Option 03</option>
                                    <option value="">Option 04</option>
                                    <option value="">Option 05</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="filter__label">
                                <label>Country</label>
                            </div>
                            <div class="filter__options">
                                <select class="form-control">
                                    <option value="">All Countries</option>
                                    <option value="">Option 01</option>
                                    <option value="">Option 02</option>
                                    <option value="">Option 03</option>
                                    <option value="">Option 04</option>
                                    <option value="">Option 05</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="filter__label">
                                <label>City</label>
                            </div>
                            <div class="filter__options">
                                <select class="form-control">
                                    <option value="">All Cities</option>
                                    <option value="">Option 01</option>
                                    <option value="">Option 02</option>
                                    <option value="">Option 03</option>
                                    <option value="">Option 04</option>
                                    <option value="">Option 05</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="filter__label">
                                <label>State</label>
                            </div>
                            <div class="filter__options">
                                <select class="form-control">
                                    <option value="">All States</option>
                                    <option value="">Option 01</option>
                                    <option value="">Option 02</option>
                                    <option value="">Option 03</option>
                                    <option value="">Option 04</option>
                                    <option value="">Option 05</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="filter__label">
                                <label>Brand</label>
                            </div>
                            <div class="filter__options">
                                <select class="form-control">
                                    <option value="">All Brands</option>
                                    <option value="">Option 01</option>
                                    <option value="">Option 02</option>
                                    <option value="">Option 03</option>
                                    <option value="">Option 04</option>
                                    <option value="">Option 05</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="filter__label">
                                <label>Category</label>
                            </div>
                            <div class="filter__options">
                                <select class="form-control">
                                    <option value="">All Categories</option>
                                    <option value="">Option 01</option>
                                    <option value="">Option 02</option>
                                    <option value="">Option 03</option>
                                    <option value="">Option 04</option>
                                    <option value="">Option 05</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="reset-filter"><i class="fa fa-undo"></i> <span>Reset Filter</span></a>
                        </li>
                    </ul>
                </div>
                <div class="rep__col-3">
                    <div class="filter-state-switch">
                        <ul class="list-unstyled tg-list">
                            <li class="filter-state-switch__label">
                                <label>POIs Status</label>
                            </li>
                            <li class="tg-list-item">
                                <input class="tgl tgl-flip" id="cb5" type="checkbox" checked/>
                                <label class="tgl-btn" data-tg-off="Inactive" data-tg-on="Active" for="cb5"></label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>