<div class="row">
    <div class="rep__col-7">
        <div class="section-rate__map-container">
            <div class="section-rate__google-map"></div>
        </div>
    </div>
    <div class="rep__col-5">
        <div class="section__rate-blocks">
            <ul class="list-unstyled">
                <li class="rate-block-item">
                    <div class="item-col">
                        <div class="item-icon badge-primary">
                            <i class="fa fa-gear"></i>
                        </div>
                    </div>
                    <div class="item-col item-content__col">
                        <div class="item-header">
                            <h3 class="item-title">POIs under management</h3>
                            <div class="item-tooltip-container">
                                <i class="fa fa-info-circle"></i>
                                <div class="tooltip-content">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <h3 class="item-subtitle">14</h3>
                        </div>
                        <div class="item-footer row">
                            <div class="item-footer-info rep__col-8">
                                <p>(Including 0 inactive POIs)</p>
                            </div>
                            <div class="item-footer-cta rep__col-4">
                                <a href="#"><i class="fa fa-search"></i> <span>explore</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="rate-block-item">
                    <div class="item-col">
                        <div class="item-icon badge-danger">
                            <i class="fa fa-check-circle-o"></i>
                        </div>
                    </div>
                    <div class="item-col item-content__col">
                        <div class="item-header">
                            <h3 class="item-title">POIs under management</h3>
                            <div class="item-tooltip-container">
                                <i class="fa fa-info-circle"></i>
                                <div class="tooltip-content">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <h3 class="item-subtitle">14</h3>
                        </div>
                        <div class="item-footer row">
                            <div class="item-footer-info rep__col-8">
                                <p>(Including 0 inactive POIs)</p>
                            </div>
                            <div class="item-footer-cta rep__col-4">
                                <a href="#"><i class="fa fa-search"></i> <span>explore</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="rate-block-item">
                    <div class="item-col">
                        <div class="item-icon badge-warning">
                            <i class="fa fa-refresh"></i>
                        </div>
                    </div>
                    <div class="item-col item-content__col">
                        <div class="item-header">
                            <h3 class="item-title">POIs under management</h3>
                            <div class="item-tooltip-container">
                                <i class="fa fa-info-circle"></i>
                                <div class="tooltip-content">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <h3 class="item-subtitle">14</h3>
                        </div>
                        <div class="item-footer row">
                            <div class="item-footer-info rep__col-8">
                                <p>(Including 0 inactive POIs)</p>
                            </div>
                            <div class="item-footer-cta rep__col-4">
                                <a href="#"><i class="fa fa-search"></i> <span>explore</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="rate-block-item">
                    <div class="item-col">
                        <div class="item-icon badge-success">
                            <i class="fa fa-map"></i>
                        </div>
                    </div>
                    <div class="item-col item-content__col">
                        <div class="item-header">
                            <h3 class="item-title">POIs under management</h3>
                            <div class="item-tooltip-container">
                                <i class="fa fa-info-circle"></i>
                                <div class="tooltip-content">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <h3 class="item-subtitle">14</h3>
                        </div>
                        <div class="item-footer row">
                            <div class="item-footer-info rep__col-8">
                                <p>(Including 0 inactive POIs)</p>
                            </div>
                            <div class="item-footer-cta rep__col-4">
                                <a href="#"><i class="fa fa-search"></i> <span>explore</span></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>