<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-map"></i>POI per channels</h3>
    </div>
    <div class="panel-body plr-0">

        <div class="poi__channel-details poi__channel-details-listing">
            <div class="poi__channel-details__item">
                <div class="poi__channel-details__face">
                    <div class="row">
                        <div class="rep__col-3">
                            <ul class="channel__info list-inline">
                                <li class="channel__thumbnail">
                                    <img src="https://atlas.navads.eu/assets/images/maps-logo/APPLE.png" alt="image not found">
                                </li>
                                <li class="channel__name">
                                    <p>Apple Maps</p>
                                </li>
                            </ul>
                            <div class="channel-info-total">
                                <label>Total under management</label>
                                <p>11 POIs</p>
                            </div>
                        </div>
                        <div class="rep__col-3">
                            <div class="channel__chart">

                            </div>
                        </div>

                        <div class="rep__col-3 panel__chart-stats">
                            <ul class="list-unstyled">
                                <li class="to-be-cleansed">
                                    Submitted <br> <label>0 POIs</label>
                                    <div class="stats__ratio">
                                        <p>0%</p>
                                    </div>
                                </li>
                                <li class="cleansed">
                                    Verified <br> <label>0 POIs</label>
                                    <div class="stats__ratio">
                                        <p>0%</p>
                                    </div>
                                </li>
                            </ul>
                        </div>


                        <div class="rep__col-3">
                            <div class="channel__info-status">
                                <label class="label-title">Status</label>
                                <p class="status-badge pending"><i class="fa fa-clock-o"></i> <span>Submission Pending</span></p>
                                <label class="last-submission">Last Submission</label>
                                <p class="last-submission-detail">-</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="poi__channel-details__item">
                <div class="poi__channel-details__face">
                    <div class="row">
                        <div class="rep__col-3">
                            <ul class="channel__info list-inline">
                                <li class="channel__thumbnail">
                                    <img src="https://atlas.navads.eu/assets/images/maps-logo/APPLE.png" alt="image not found">
                                </li>
                                <li class="channel__name">
                                    <p>Apple Maps</p>
                                </li>
                            </ul>
                            <div class="channel-info-total">
                                <label>Total under management</label>
                                <p>11 POIs</p>
                            </div>
                        </div>
                        <div class="rep__col-3">
                            <div class="channel__chart">

                            </div>
                        </div>

                        <div class="rep__col-3 panel__chart-stats">
                            <ul class="list-unstyled">
                                <li class="to-be-cleansed">
                                    Submitted <br> <label>0 POIs</label>
                                    <div class="stats__ratio">
                                        <p>0%</p>
                                    </div>
                                </li>
                                <li class="cleansed">
                                    Verification status not available <br> <label>0 POIs</label>
                                    <div class="stats__ratio">
                                        <p>0%</p>
                                    </div>
                                </li>
                            </ul>
                        </div>


                        <div class="rep__col-3">
                            <div class="channel__info-status">
                                <label class="label-title">Status</label>
                                <p class="status-badge pending"><i class="fa fa-clock-o"></i> <span>Submission Pending</span></p>
                                <label class="last-submission">Last Submission</label>
                                <p class="last-submission-detail">-</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
