<div class="row">
    <div class="rep__col-7">
        <div class="section-rate__map-container">
            <div class="section-rate__google-map"></div>
        </div>
    </div>
    <div class="rep__col-5">
        <div class="section__rate-blocks">
            <ul class="list-unstyled">
                <li class="rate-block-item">
                    <div class="item-col">
                        <div class="item-icon badge-primary">
                            <i class="fa fa-gear"></i>
                        </div>
                    </div>
                    <div class="item-col item-content__col">
                        <div class="item-header">
                            <h3 class="item-title">POIs under management</h3>
                            <div class="item-tooltip-container">
                                <i class="fa fa-info-circle"></i>
                                <div class="tooltip-content">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <h3 class="item-subtitle">14</h3>
                        </div>
                        <div class="item-footer row">
                            <div class="item-footer-info rep__col-8">
                                <p>(Including 0 inactive POIs)</p>
                            </div>
                            <div class="item-footer-cta rep__col-4">
                                <a href="#"><i class="fa fa-search"></i> <span>explore</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="rate-block-item">
                    <div class="item-col">
                        <div class="item-icon badge-danger">
                            <i class="fa fa-check-circle-o"></i>
                        </div>
                    </div>
                    <div class="item-col item-content__col">
                        <div class="item-header">
                            <h3 class="item-title">POIs under management</h3>
                            <div class="item-tooltip-container">
                                <i class="fa fa-info-circle"></i>
                                <div class="tooltip-content">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <h3 class="item-subtitle">14</h3>
                        </div>
                        <div class="item-footer row">
                            <div class="item-footer-info rep__col-8">
                                <p>(Including 0 inactive POIs)</p>
                            </div>
                            <div class="item-footer-cta rep__col-4">
                                <a href="#"><i class="fa fa-search"></i> <span>explore</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="rate-block-item">
                    <div class="item-col">
                        <div class="item-icon badge-warning">
                            <i class="fa fa-refresh"></i>
                        </div>
                    </div>
                    <div class="item-col item-content__col">
                        <div class="item-header">
                            <h3 class="item-title">POIs under management</h3>
                            <div class="item-tooltip-container">
                                <i class="fa fa-info-circle"></i>
                                <div class="tooltip-content">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <h3 class="item-subtitle">14</h3>
                        </div>
                        <div class="item-footer row">
                            <div class="item-footer-info rep__col-8">
                                <p>(Including 0 inactive POIs)</p>
                            </div>
                            <div class="item-footer-cta rep__col-4">
                                <a href="#"><i class="fa fa-search"></i> <span>explore</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="rate-block-item">
                    <div class="item-col">
                        <div class="item-icon badge-success">
                            <i class="fa fa-map"></i>
                        </div>
                    </div>
                    <div class="item-col item-content__col">
                        <div class="item-header">
                            <h3 class="item-title">POIs under management</h3>
                            <div class="item-tooltip-container">
                                <i class="fa fa-info-circle"></i>
                                <div class="tooltip-content">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <h3 class="item-subtitle">14</h3>
                        </div>
                        <div class="item-footer row">
                            <div class="item-footer-info rep__col-8">
                                <p>(Including 0 inactive POIs)</p>
                            </div>
                            <div class="item-footer-cta rep__col-4">
                                <a href="#"><i class="fa fa-search"></i> <span>explore</span></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-map"></i>POI per channels</h3>
    </div>
    <div class="panel-body plr-0">

        <div class="poi__channel-details poi__channel-details-listing">
            <div class="poi__channel-details__item">
                <div class="poi__channel-details__face">
                    <div class="row">
                        <div class="rep__col-3">
                            <ul class="channel__info list-inline">
                                <li class="channel__thumbnail">
                                    <img src="https://atlas.navads.eu/assets/images/maps-logo/APPLE.png" alt="image not found">
                                </li>
                                <li class="channel__name">
                                    <p>Apple Maps</p>
                                </li>
                            </ul>
                            <div class="channel-info-total">
                                <label>Total under management</label>
                                <p>11 POIs</p>
                            </div>
                        </div>
                        <div class="rep__col-3">
                            <div class="channel__chart">

                            </div>
                        </div>

                        <div class="rep__col-3 panel__chart-stats">
                            <ul class="list-unstyled">
                                <li class="to-be-cleansed">
                                    Submitted <br> <label>0 POIs</label>
                                    <div class="stats__ratio">
                                        <p>0%</p>
                                    </div>
                                </li>
                                <li class="cleansed">
                                    Verified <br> <label>0 POIs</label>
                                    <div class="stats__ratio">
                                        <p>0%</p>
                                    </div>
                                </li>
                            </ul>
                        </div>


                        <div class="rep__col-3">
                            <div class="channel__info-status">
                                <label class="label-title">Status</label>
                                <p class="status-badge pending"><i class="fa fa-clock-o"></i> <span>Submission Pending</span></p>
                                <label class="last-submission">Last Submission</label>
                                <p class="last-submission-detail">-</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="poi__channel-details__item">
                <div class="poi__channel-details__face">
                    <div class="row">
                        <div class="rep__col-3">
                            <ul class="channel__info list-inline">
                                <li class="channel__thumbnail">
                                    <img src="https://atlas.navads.eu/assets/images/maps-logo/APPLE.png" alt="image not found">
                                </li>
                                <li class="channel__name">
                                    <p>Apple Maps</p>
                                </li>
                            </ul>
                            <div class="channel-info-total">
                                <label>Total under management</label>
                                <p>11 POIs</p>
                            </div>
                        </div>
                        <div class="rep__col-3">
                            <div class="channel__chart">

                            </div>
                        </div>

                        <div class="rep__col-3 panel__chart-stats">
                            <ul class="list-unstyled">
                                <li class="to-be-cleansed">
                                    Submitted <br> <label>0 POIs</label>
                                    <div class="stats__ratio">
                                        <p>0%</p>
                                    </div>
                                </li>
                                <li class="cleansed">
                                    Verification status not available <br> <label>0 POIs</label>
                                    <div class="stats__ratio">
                                        <p>0%</p>
                                    </div>
                                </li>
                            </ul>
                        </div>


                        <div class="rep__col-3">
                            <div class="channel__info-status">
                                <label class="label-title">Status</label>
                                <p class="status-badge pending"><i class="fa fa-clock-o"></i> <span>Submission Pending</span></p>
                                <label class="last-submission">Last Submission</label>
                                <p class="last-submission-detail">-</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
