<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-map"></i>POI submission and publication details per channels</h3>
    </div>
    <div class="panel-body plr-0">

        <div class="poi__channel-details">
            <div class="poi__channel-details__item">
                <div class="poi__channel-details__face">
                    <div class="row">
                        <div class="rep__col-3">
                            <ul class="channel__info list-inline">
                                <li class="channel__thumbnail">
                                    <img src="https://atlas.navads.eu/assets/images/maps-logo/APPLE.png" alt="image not found">
                                </li>
                                <li class="channel__name">
                                    <p>Apple Maps</p>
                                </li>
                            </ul>
                        </div>
                        <div class="rep__col-3">
                            <div class="channel__status">
                                <div class="status__label">
                                    <label>Status</label>
                                </div>
                                <div class="status__badge">
                                    <p><i class="fa fa-check"></i><span>Published</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="rep__col-3">
                            <div class="channel__publish-date">
                                <div class="publish__label">
                                    <label>Published since</label>
                                </div>
                                <div class="publish__date">
                                    <p>March 23, 2016</p>
                                </div>
                            </div>
                        </div>
                        <div class="rep__col-3">
                            <div class="channel__view-detail">
                                <button class="btn btn-green">View Details</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="poi__channel-detail__accordion-container">
                    <div class="poi__channel-detail__accordion">
                        <div class="row">

                            <div class="rep__col-3">
                                <div class="event__date">
                                    <div class="even__label">
                                        <label>First Submission date</label>
                                    </div>
                                    <div class="event__date">
                                        <p>April 01, 2016</p>
                                    </div>
                                </div>
                            </div>
                            <div class="rep__col-3">
                                <div class="event__date">
                                    <div class="even__label">
                                        <label>First Submission date</label>
                                    </div>
                                    <div class="event__date">
                                        <p>April 01, 2016</p>
                                    </div>
                                </div>
                            </div>
                            <div class="rep__col-3">
                                <div class="event__date">
                                    <div class="even__label">
                                        <label>First Submission date</label>
                                    </div>
                                    <div class="event__date">
                                        <p>April 01, 2016</p>
                                    </div>
                                </div>
                            </div>
                            <div class="rep__col-3">
                                <div class="view-on-map-section">
                                    <div class="map__url-input">
                                        <input type="text" placeholder="enter url">
                                        <div class="input-icon">
                                            <i class="fa fa-files"></i>
                                        </div>
                                    </div>
                                    <div class="cta__view-on-map">
                                        <button class="btn btn-blue btn-round btn-lg">View On Map</button>
                                    </div>
                                    <div class="note__view-on-map">
                                        <p>View is possible for apple devices</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="channel__publication-details">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Original</th>
                                            <th>Submitted</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label>Display Name</label>
                                            </td>
                                            <td>Max</td>
                                            <td>Max</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Display Name</label>
                                            </td>
                                            <td>
                                                <div class="venue">
                                                    <label>Mon-Fri</label>
                                                    <p>
                                                        <span>00:00 - 02:00 </span><span>10:00 - 23:59</span>
                                                    </p>
                                                </div>
                                                <div class="venue">
                                                    <label>Mon-Fri</label>
                                                    <p>
                                                        <span>00:00 - 02:00 </span><span>10:00 - 23:59</span>
                                                    </p>
                                                </div>
                                                <div class="venue">
                                                    <label>Mon-Fri</label>
                                                    <p>
                                                        <span>00:00 - 02:00 </span><span>10:00 - 23:59</span>
                                                    </p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="venue">
                                                    <label>Mon-Fri</label>
                                                    <p>
                                                        <span>00:00 - 02:00 </span><span>10:00 - 23:59</span>
                                                    </p>
                                                </div>
                                                <div class="venue">
                                                    <label>Mon-Fri</label>
                                                    <p>
                                                        <span>00:00 - 02:00 </span><span>10:00 - 23:59</span>
                                                    </p>
                                                </div>
                                                <div class="venue">
                                                    <label>Mon-Fri</label>
                                                    <p>
                                                        <span>00:00 - 02:00 </span><span>10:00 - 23:59</span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Display Name</label>
                                            </td>
                                            <td>Max</td>
                                            <td>Max</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="poi__channel-details__item">
                <div class="poi__channel-details__face">
                    <div class="row">
                        <div class="rep__col-3">
                            <ul class="channel__info list-inline">
                                <li class="channel__thumbnail">
                                    <img src="https://atlas.navads.eu/assets/images/maps-logo/APPLE.png" alt="image not found">
                                </li>
                                <li class="channel__name">
                                    <p>Apple Maps</p>
                                </li>
                            </ul>
                        </div>
                        <div class="rep__col-3">
                            <div class="channel__status">
                                <div class="status__label">
                                    <label>Status</label>
                                </div>
                                <div class="status__badge">
                                    <p><i class="fa fa-check"></i><span>Published</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="rep__col-3">
                            <div class="channel__publish-date">
                                <div class="publish__label">
                                    <label>Published since</label>
                                </div>
                                <div class="publish__date">
                                    <p>March 23, 2016</p>
                                </div>
                            </div>
                        </div>
                        <div class="rep__col-3">
                            <div class="channel__view-detail">
                                <button class="btn btn-green">View Details</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="poi__channel-detail__accordion-container">
                    <div class="poi__channel-detail__accordion">
                        <div class="row">

                            <div class="rep__col-3">
                                <div class="event__date">
                                    <div class="even__label">
                                        <label>First Submission date</label>
                                    </div>
                                    <div class="event__date">
                                        <p>April 01, 2016</p>
                                    </div>
                                </div>
                            </div>
                            <div class="rep__col-3">
                                <div class="event__date">
                                    <div class="even__label">
                                        <label>First Submission date</label>
                                    </div>
                                    <div class="event__date">
                                        <p>April 01, 2016</p>
                                    </div>
                                </div>
                            </div>
                            <div class="rep__col-3">
                                <div class="event__date">
                                    <div class="even__label">
                                        <label>First Submission date</label>
                                    </div>
                                    <div class="event__date">
                                        <p>April 01, 2016</p>
                                    </div>
                                </div>
                            </div>
                            <div class="rep__col-3">
                                <div class="view-on-map-section">
                                    <div class="map__url-input">
                                        <input type="text" placeholder="enter url">
                                        <div class="input-icon">
                                            <i class="fa fa-files"></i>
                                        </div>
                                    </div>
                                    <div class="cta__view-on-map">
                                        <button class="btn btn-blue btn-round btn-lg">View On Map</button>
                                    </div>
                                    <div class="note__view-on-map">
                                        <p>View is possible for apple devices</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="channel__publication-details">
                                <table>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Original</th>
                                        <th>Submitted</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <label>Display Name</label>
                                        </td>
                                        <td>Max</td>
                                        <td>Max</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Display Name</label>
                                        </td>
                                        <td>
                                            <div class="venue">
                                                <label>Mon-Fri</label>
                                                <p>
                                                    <span>00:00 - 02:00 </span><span>10:00 - 23:59</span>
                                                </p>
                                            </div>
                                            <div class="venue">
                                                <label>Mon-Fri</label>
                                                <p>
                                                    <span>00:00 - 02:00 </span><span>10:00 - 23:59</span>
                                                </p>
                                            </div>
                                            <div class="venue">
                                                <label>Mon-Fri</label>
                                                <p>
                                                    <span>00:00 - 02:00 </span><span>10:00 - 23:59</span>
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="venue">
                                                <label>Mon-Fri</label>
                                                <p>
                                                    <span>00:00 - 02:00 </span><span>10:00 - 23:59</span>
                                                </p>
                                            </div>
                                            <div class="venue">
                                                <label>Mon-Fri</label>
                                                <p>
                                                    <span>00:00 - 02:00 </span><span>10:00 - 23:59</span>
                                                </p>
                                            </div>
                                            <div class="venue">
                                                <label>Mon-Fri</label>
                                                <p>
                                                    <span>00:00 - 02:00 </span><span>10:00 - 23:59</span>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Display Name</label>
                                        </td>
                                        <td>Max</td>
                                        <td>Max</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
