{% extends 'reputami/_layout/default.html' %}
{% set pageTitle = "Index" %}

{% block content %}

<div class="box-sizing__border">
    <div class="container-lg">
        {% include 'reputami/_core/submenu.html' %}

        {% include 'reputami/_partials/dashboard-filters.html' %}

        {% include 'reputami/_partials/poi-per-channel-listing.html' %}


        <div class="row mtop30">
            <div class="rep__col-6 panel-equal-height">
                <div class="panel">
                    <div class="panel-heading panel-heading__dd-included">
                        <h3 class="panel-title"><i class="fa fa-info-circle"></i> POIs management dynamics</h3>
                        <div class="panel-header__dropdown">
                            <select class="form-control">
                                <option value="">Option 01</option>
                                <option value="">Option 02</option>
                                <option value="">Option 03</option>
                                <option value="">Option 04</option>
                                <option value="">Option 05</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-body plr-0">
                        <div class="panel__stats-icons-list">
                            <ul class="list-inline">
                                <li>
                                    <i class="fa fa-dot-circle-o ico-tobe-cleansed"></i> <span>To be cleansed</span>
                                </li>
                                <li>
                                    <i class="fa fa-dot-circle-o ico-cleansed"></i> <span>Cleansed</span>
                                </li>
                                <li>
                                    <i class="fa fa-dot-circle-o ico-inactive"></i> <span>Inactive</span>
                                </li>
                            </ul>
                        </div>
                        <div class="panel__chart">

                        </div>
                    </div>
                </div>
            </div>
            <div class="rep__col-6 panel-equal-height">
                <div class="panel panel-equal-height panel__cleansing-detail">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle"></i> Submitted POIs per Chaannel</h3>
                    </div>
                    <div class="panel-body plr-0">

                        <div class="rep__col-6 panel__chart"></div>
                        <div class="rep__col-6 panel__chart-stats">
                            <ul class="list-unstyled">
                                <li class="cleansed">
                                    Active <br> <label>1 POIs</label>
                                    <div class="stats__ratio">
                                        <p>7.1%</p>
                                    </div>
                                </li>
                                <li class="in-active">
                                    Inactive <br> <label>1 POIs</label>
                                    <div class="stats__ratio">
                                        <p>7.1%</p>
                                    </div>
                                </li>
                                <li class="to-be-cleansed">
                                    Cleansed <br> <label>1 POIs</label>
                                    <div class="stats__ratio">
                                        <p>7.1%</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="panel mtop30">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-map"></i>POI per channels</h3>
            </div>
            <div class="panel-body plr-0">

                <div class="poi__channel-details poi__channel-details-listing">
                    <div class="poi__channel-details__item">
                        <div class="poi__channel-details__face">
                            <div class="row">
                                <div class="rep__col-3">
                                    <ul class="channel__info list-inline">
                                        <li class="channel__thumbnail">
                                            <img src="https://atlas.navads.eu/assets/images/maps-logo/APPLE.png" alt="image not found">
                                        </li>
                                        <li class="channel__name">
                                            <p>Apple Maps</p>
                                        </li>
                                    </ul>
                                    <div class="channel-info-total">
                                        <label>Total under management</label>
                                        <p>11 POIs</p>
                                    </div>
                                </div>
                                <div class="rep__col-3">
                                    <div class="channel__chart">

                                    </div>
                                </div>

                                <div class="rep__col-3 panel__chart-stats">
                                    <ul class="list-unstyled">
                                        <li class="to-be-cleansed">
                                            Submitted <br> <label>0 POIs</label>
                                            <div class="stats__ratio">
                                                <p>0%</p>
                                            </div>
                                        </li>
                                        <li class="cleansed">
                                            Verified <br> <label>0 POIs</label>
                                            <div class="stats__ratio">
                                                <p>0%</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>


                                <div class="rep__col-3">
                                    <div class="channel__info-status">
                                        <label class="label-title">Status</label>
                                        <p class="status-badge pending"><i class="fa fa-clock-o"></i> <span>Submission Pending</span></p>
                                        <label class="last-submission">Last Submission</label>
                                        <p class="last-submission-detail">-</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="poi__channel-details__item">
                        <div class="poi__channel-details__face">
                            <div class="row">
                                <div class="rep__col-3">
                                    <ul class="channel__info list-inline">
                                        <li class="channel__thumbnail">
                                            <img src="https://atlas.navads.eu/assets/images/maps-logo/APPLE.png" alt="image not found">
                                        </li>
                                        <li class="channel__name">
                                            <p>Apple Maps</p>
                                        </li>
                                    </ul>
                                    <div class="channel-info-total">
                                        <label>Total under management</label>
                                        <p>11 POIs</p>
                                    </div>
                                </div>
                                <div class="rep__col-3">
                                    <div class="channel__chart">

                                    </div>
                                </div>

                                <div class="rep__col-3 panel__chart-stats">
                                    <ul class="list-unstyled">
                                        <li class="to-be-cleansed">
                                            Submitted <br> <label>0 POIs</label>
                                            <div class="stats__ratio">
                                                <p>0%</p>
                                            </div>
                                        </li>
                                        <li class="cleansed">
                                            Verification status not available <br> <label>0 POIs</label>
                                            <div class="stats__ratio">
                                                <p>0%</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>


                                <div class="rep__col-3">
                                    <div class="channel__info-status">
                                        <label class="label-title">Status</label>
                                        <p class="status-badge pending"><i class="fa fa-clock-o"></i> <span>Submission Pending</span></p>
                                        <label class="last-submission">Last Submission</label>
                                        <p class="last-submission-detail">-</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>


{% endblock %}