{% extends 'default/_layout/default.html' %}
{% set pageTitle = "Index" %}

{% block content %}
<div class="box-sizing__border">
    <div class="container">
        <section class="widget-container__sc widget__section">
            <h1 class="section__header">Your opinion is important to us.</h1>
            <div class="section__body">
                <p>What did you like most? How could we improve? We would love to know.<br />Simply click the box below and we will send you a certified review request through our partner eKomi - The Feedback Company.</p>
                <div class="section__bottom">
                    <div class="row">
                        <div class="section__form-control grid__col-12">
                            <div class="form-control__wrapper">
                                <input type="radio" name="radio" id="radio1">
                                <label for="radio1">
                                    <span class="text-consent">I would like to receive a certified review request.</span>
                                    <span class="text-confirmation">Thank you, we will send you a review request shortly.</span>
                                </label>
                            </div>
                        </div>
                        <div class="section__footer grid__col-12">
                            <div class="section__footer-wrapper">
                                <div class="footer__links">
                                    <ul class="list-inline">
                                        <li><a href="#">Privacy</a></li>
                                        <li class="item-separator"> - </li>
                                        <li><a href="#">About eKomi</a></li>
                                        <li class="item-logo"><img src="img/logo/ekomi.png" alt="image not found"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
