{% extends 'reputami/_layout/default.html' %}
{% set pageTitle = "Index" %}

{% block content %}

<div class="box-sizing__border">
    <div class="section__location-information">
            <header>
                <h1 class="section__title">Location Information</h1>
                <a href="#" class="trigger__upload-logo">Upload Logo</a>
            </header>
            <div class="section__body">


                <div class="form__row">
                    <div class="form__col">
                        <label>Location Name</label>
                    </div>
                    <div class="form__col">
                        <input type="text" class="form-control li__form-control" placeholder="AliShaheen">
                    </div>
                    <div class="form__col">
                        <label>eKomi account</label>
                    </div>
                </div>


                <div class="form__row">
                    <div class="form__col">
                        <label>User Name</label>
                    </div>
                    <div class="form__col">
                        <input type="text" class="form-control li__form-control" placeholder="AliShaheen">
                    </div>
                    <div class="form__col">
                        <input type="text" class="form-control li__form-control" placeholder="favertakvekjlkajf">
                    </div>
                </div>


                <div class="form__row">
                    <div class="form__col">
                        <label>Password</label>
                    </div>
                    <div class="form__col">
                        <input type="password" class="form-control li__form-control" placeholder="**********">
                    </div>
                    <div class="form__col">
                        <input type="text" class="form-control li__form-control" placeholder="favertakvekjlkajf">
                    </div>
                </div>

                <div class="form__row align__top">
                    <div class="form__col">
                        <label>Manager</label>

                        <div class="form__col-label-2">
                            <label>Address</label>
                        </div>
                    </div>
                    <div class="form__col">
                        <input type="text" class="form-control li__form-control" placeholder="Website">
                        <div class="form__row">
                            <div class="form__col">
                                <input type="text" class="form-control li__form-control" placeholder="Address">
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__col">
                                <input type="text" class="form-control li__form-control" placeholder="Zip">
                            </div>
                            <div class="form__col">
                                <input type="text" class="form-control li__form-control" placeholder="City">
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__col">
                                <input type="text" class="form-control li__form-control" placeholder="Country">
                            </div>
                        </div>
                    </div>
                    <div class="form__col">
                        <textarea class="form-control li__form-control" placeholder="Company description"></textarea>
                    </div>
                </div>


                <div class="form__row">
                    <div class="form__col">
                        <label>Contact</label>
                    </div>
                    <div class="form__col">
                        <input type="text" class="form-control li__form-control" placeholder="Website">
                    </div>
                    <div class="form__col">
                        <input type="text" class="form-control li__form-control" placeholder="Phone">
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col"></div>
                    <div class="form__col">
                        <input type="text" class="form-control li__form-control" placeholder="Email">
                    </div>
                    <div class="form__col">
                        <input type="text" class="form-control li__form-control" placeholder="fax">
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>Legal Information</label>
                    </div>
                    <div class="form__col">
                        <input type="text" class="form-control li__form-control" placeholder="Reg number">
                    </div>
                    <div class="form__col">
                        <input type="text" class="form-control li__form-control" placeholder="VAT/Tax number">
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__col">
                        <label>Vertical</label>
                    </div>
                    <div class="form__col">
                        <input type="text" class="form-control li__form-control" placeholder="Retail">
                    </div>
                    <div class="form__col"></div>
                </div>

                <div class="form__row align-top form__row-footer">
                    <div class="form__col">
                        <input type="submit" class="btn btn-green" value="Save">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolore ducimus</p>
                    </div>
                </div>


            </div>
        </div>
</div>
{% endblock %}