.widget__section {
  background: $white;
  border: 1px solid $border-default;
  border-radius: 7px;
  padding: 0;
}

.section__header {
  margin-top: 0;
  margin-bottom: 0;
  background: $ekomi-green;
  border-radius: 7px 0 7px 0;
  color: white;
  padding: 10px 30px;
  display: inline-block;
  font-size: 22px;
}

.section__body {
  padding: 30px 30px 20px 30px;
  display: block;
  clear: both;
  p {
    margin-top: 0;
  }
}

.section__footer {
  text-align: right;
  .section__footer-wrapper {
    display: inline-block;
    text-align: center;
  }
}

.footer__links {
  .list-inline {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px;
    li {
      vertical-align: middle;
      &.item-separator {
        margin-left: 5px;
        margin-right: 5px;
      }
      &.item-logo {
        margin-left: 10px;
        img {
          width: 90px;
        }
      }
    }
  }
  a {
    color: $text;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      color: $ekomi-green;
      outline: none;
      text-decoration: none;
    }
  }
}

.form-control__wrapper {
  label {
    background: url("../img/checkbox/box.png") no-repeat left top;
    background-size: 25px;
    min-height: 40px;
    padding-top: 0;
    padding-left: 35px;
    display: inline-block;
    cursor: pointer;
  }
  .text-confirmation {
    display: none;
  }
  &.requesting,
  &.success {
    label {
      cursor: text;
    }
  }
  &.requesting label{
    background-image: url("../img/loader/loader-green.gif");
  }
  &.success label{
    background-image: url("../img/checkbox/check-green.png");
    .text-confirmation {
      display: inline-block;
    }
    .text-consent {
      display: none;
    }
  }
  input[type='radio'] {
    display: none;
    &:checked {
      ~ label {
        background-image: url("../img/checkbox/check-green.png");
      }
    }
  }
}

@media (max-width: 767px) {
  .section__bottom {
    .section__form-control,
    .section__footer {
      display: block;
      float: none;
      width: 100%;
    }
  }
  .section__footer {
    text-align: center;
  }
}
