.container,
.container-lg {
  margin: 0 auto;
  padding: 34px;
}


.container {
  width: 758px;
}

.container-lg {
  width: 898px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.rep__col-1,
.rep__col-2,
.rep__col-3,
.rep__col-4,
.rep__col-5,
.rep__col-6,
.rep__col-7,
.rep__col-8,
.rep__col-9,
.rep__col-10,
.rep__col-11,
.rep__col-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.rep__col-1  { width:8.33333333% }
.rep__col-2  { width:16.66666667% }
.rep__col-3  { width:25% }
.rep__col-4  { width:33.33333333% }
.rep__col-5  { width:41.66666667% }
.rep__col-6  { width:50% }
.rep__col-7  { width:58.33333333% }
.rep__col-8  { width:66.66666667% }
.rep__col-9  { width:75% }
.rep__col-10 { width:83.33333333% }
.rep__col-11 { width:91.66666667% }
.rep__col-12 { width:100% }

.row,
.clearfix {
  &:after,
  &:before {
    display: table;
    content: " ";
    clear: both;

  }
}
