/************* Idx Search bar **************/

#dsidx-top-search {
  #dsidx-search-form-wrap {
    padding: 1px 1px 0;
  }
  #dsidx-search-bar {
    padding: 10px;
    background: $body-bg;
    input[type='text'] {
      @include style-input-text();
      &:focus {
        @include style-input-text-focus();
      }
    }
    .dsidx-search-controls {
      button {
        @include style-btn-green();
        height: 25px !important;
      }
      .button {
        padding: 0;
        box-shadow: none;
        border-radius: 0;
      }
    }
  }

  #dsidx-search-form {
    label {
      @include style-input-label();
    }
    .dsidx-bootstrap-row {
      margin-bottom: 3px;
      label {
        margin: 0 !important;
        padding-top: 7px;
      }
      &.dsidx-top-search-section-header-bar {
        padding-top: 0;
        margin-top: 10px;
        padding-bottom: 7px;
        margin-bottom: 15px;
      }

      .dsidx-search-tag-checkbox {
        margin-bottom: 8px;
      }
      input[type='checkbox'] {
        + label {
          font-weight: normal !important;
          margin-left: 5px !important;
        }
      }
    }
    #defaultSearchFilters {
      + .dsidx-bootstrap-row {
        margin-bottom: 20px;
      }
    }
  }

  input[type='text'] {
    @include style-input-text();
    &:focus {
      @include style-input-text-focus();
    }
  }


}

.dsidx-autocomplete-box {
  border: 0 none;
}
.dsidx-search-bar-expand-collapse-button {
  background-color: transparent;
  font-size: 20px;
  color: $label-color;
  + .label {
    @include style-input-label();
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}

.dsidx-top-search-section-header-bar  {
  border-bottom: 1px dotted #E9E9E9;
}

.dsidx-search-bar-more-filters {
  background: $body-bg;
  border-color: $body-bg;
}