/************* Listing Page **************/
#dsidx-listings {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &, * {
    box-sizing: border-box;
  }

  li {
    &.dsidx-listing-container {
      width: 31.33333%;
      display: initial;
      margin-bottom: 30px;
      border: 2px solid #EAEAEA;
    }
  }

  .dsidx-listing {
    border: 0 none;
    background: transparent;
    .dsidx-media {
      width: 100%;
      float: none;
      padding: 0;
      margin: 0;
      background: transparent;
      .dsidx-photo {
        border: 0 none;
        height: 188px;
        a  {
          img {
            width: 100%;
            max-width: none;
          }
        }
        .dsidx-toolbar {
          background: transparent;
          color: #FFFFFF;
          left: 0;
          position: absolute;
          top: 0;
          font-size: 10px;
          text-transform: uppercase;
          margin: 0;
          padding: 0;
          bottom: initial;

        }
        .dsidx-toolbar-button {
          background: rgba(0, 0, 0, 1);
          border-radius: 0;
          padding: 0 6px;
          height: 25px;
          line-height: 25px;
          opacity: .7;
          margin: 0;
        }
      }
    }
    .dsidx-data {
      margin: 0;
      padding: 30px 30px 10px;
    }
    .dsidx-primary-data {
      border-bottom: 0 none;
      .dsidx-price {
        position: absolute !important;
        right: 0;
        top: 156px !important;
        float: none;
        margin: 0;
        left: auto !important;
        background: $green;
        padding: 7px 10px !important;
        font-size: 15px;
        font-weight: 300;
      }
      .dsidx-address {
        float: none;
        margin: 0 !important;
        a {
          color: $link;
          font-weight: 300;
          font-size: 18px;
          &:hover, &:focus, &:active {
            color: $green-light;
            text-decoration: none;
          }
        }
      }
    }
  }

  .dsidx-secondary-data {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 !important;
    margin-top: 0;
    width: 100%;
    > div {
        @include style-items-list-parent();
        @include style-items-list-label();
      span {
        @include style-items-list-value();
        float: right;
      }
      &:last-of-type {
        border-bottom: 0 none;
      }
      &.dsidx-secondary-data-bedsbaths {
        span {
          float: none;
        }
      }
    }
  }

}

#dsidx-disclaimer {
  display: none;
}

#dsidx, body.dsidx {
  ul {
    &.dsidx-tabs {
      display: none;
    }
  }
}

#dsidx {
  .dsidx-sorting-control {
    select {
      @include style-dsidx-select();
    }
  }
  #dsidx-profile-header,
  .dsidx-top-actions {
    display: none;
  }
}