$badge-footer-bg: #d8dfea;
$badge-element-radius: 5px;
$badge-cta-color: #898a8a;
$gradient-blue-start: #19bdee;
$gradient-blue-end: #1c6be6;
$gradient-green-start: #72ea60;
$gradient-green-end: #1bcd22;
$gradient-pink-start: #c141e7;
$gradient-pink-end: #de48b5;
$page-content-bg: #eeeeee;

.bg-gradient-blue {
  background: rgb(25,189,238);
  background: -moz-linear-gradient(left, rgba(25,189,238,1) 0%, rgba(28,107,230,1) 100%);
  background: -webkit-linear-gradient(left, rgba(25,189,238,1) 0%,rgba(28,107,230,1) 100%);
  background: linear-gradient(to right, rgba(25,189,238,1) 0%,rgba(28,107,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19bdee', endColorstr='#1c6be6',GradientType=1 );
}
.bg-gradient-green {
  background: rgb(114,234,96);
  background: -moz-linear-gradient(left, rgba(114,234,96,1) 0%, rgba(27,205,34,1) 100%);
  background: -webkit-linear-gradient(left, rgba(114,234,96,1) 0%,rgba(27,205,34,1) 100%);
  background: linear-gradient(to right, rgba(114,234,96,1) 0%,rgba(27,205,34,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72ea60', endColorstr='#1bcd22',GradientType=1 );
}
.bg-gradient-pink {
  background: rgb(193,65,231);
  background: -moz-linear-gradient(left, rgba(193,65,231,1) 0%, rgba(222,72,181,1) 100%);
  background: -webkit-linear-gradient(left, rgba(193,65,231,1) 0%,rgba(222,72,181,1) 100%);
  background: linear-gradient(to right, rgba(193,65,231,1) 0%,rgba(222,72,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c141e7', endColorstr='#de48b5',GradientType=1 );
}

.page__overview-dashboard-content {
  //background-color: $page-content-bg;
}

.row__entry-badges {
  .entries__badge-col {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.entries__badge {
  color: $white;
  .badge__bg {
    padding: 10px 20px;
    border-radius: $badge-element-radius $badge-element-radius 0 0;
  }

  .badge__header {
    text-align: right;
    //height: 45px;
    height: 80px;
    img {
      width: 30px;
    }
  }
  .badge__content {
    .badge__score-count {
      font-weight: 300;
      //font-size: 30px;
      font-size: 35px;
      line-height: 1;
    }
    .badge__type {
      //font-size: 13px;
      font-size: 15px;
    }
  }
  .badge__footer {
    background-color: $badge-footer-bg;
    //padding: 10px 20px;
    padding: 12px 20px;
    border-radius: 0 0 $badge-element-radius $badge-element-radius;
    a {
      font-size: 13px;
      &, &:hover, &:focus, &:active {
        color: $badge-cta-color;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}


.row__overview__line-chart {
  //margin-top: 50px;
  margin-top: 0;
}

.wrapper__sidebar-chart {
  + .wrapper__sidebar-chart {
    //margin-top: 50px;
    margin-top: 15px;
    background-color: #eeeeee;
    padding: 5px;
  }
}